.page {
  height: 100vmin;
  display: flex;
  /*for firefox*/
  overflow: hidden;
}

section {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:host-context([data-theme="dark"]) aside {
  background-color: #18232c;
}

:host-context([data-theme="light"]) aside {
  background-color: #fcfcfd;
}

.rect,
.circle {
  transform-box: fill-box;
  transform-origin: center;
}

.bounce {
  animation: bouncing 2s infinite ease;
}

@keyframes bouncing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.5);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  30% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

form {
  width: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

input.ng-invalid {
  border-color: var(--form-element-invalid-border-color);
}

div.error {
  color: var(--form-element-invalid-border-color);
  margin-top: -0.5rem;
}

i.bi {
  font-size: 2rem;
  cursor: pointer;
}

i.bi-gear {
  position: absolute;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  right: 0;
  bottom: 0;
  font-size: 2rem;
}

i.bi-arrows-fullscreen {
  position: absolute;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
}

i.bi-gear.animated {
  animation: pulse 6s 5 ease;
}

i.bi-x {
  align-self: flex-end;
  margin-top: -1rem;
}

.more-info {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
}

.more-info > * {
  margin-left: 0.5rem;
}

i.bi-github, i.bi-twitter {
  font-size: 1.5rem;
}

.download {
  display: none;
}
